root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,csx}]
# Indentation preferences
indent_size = 4
indent_style = space

# C# coding style conventions
csharp_using_directive_placement = outside_namespace:suggestion
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = true:suggestion
csharp_style_expression_bodied_methods = when_on_single_line:suggestion
csharp_style_expression_bodied_properties = true:suggestion
csharp_style_namespace_declarations = file_scoped:suggestion

# File headers: handled by Directory.Build.props / LICENSE
dotnet_diagnostic.SA1633.severity = none
# Using directive inside namespace: C# 10+ file-scoped namespaces place usings outside
dotnet_diagnostic.SA1200.severity = none
# Field prefix this.: optional in modern C#
dotnet_diagnostic.SA1101.severity = none
# Private field names: standard Microsoft .NET convention uses _camelCase
dotnet_diagnostic.SA1309.severity = none
# Trailing comma: optional
dotnet_diagnostic.SA1413.severity = none

[*.{vb,vbs}]
indent_size = 4
indent_style = space

[*.{json,yml,yaml,md}]
indent_size = 2
indent_style = space

[Justfile]
indent_size = 4
indent_style = space
